Django>=5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-environ
django-channels
channels-redis
psycopg2-binary
scikit-learn
pandas
numpy
anthropic
twilio
drf-yasg
firebase-admin
gunicorn
uvicorn
